[submodule "ros2_laser_scan_merger"]
	path = ros2_laser_scan_merger
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_laser_scan_merger.git
[submodule "ros2_whill"]
	path = ros2_whill
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_whill.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = git@github.com:SICKxKM-TsukubaChallenge/pointcloud_to_laserscan.git
[submodule "ros2_whill_interfaces"]
	path = ros2_whill_interfaces
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_whill_interfaces.git
[submodule "witmotion_IMU_ROS"]
	path = witmotion_IMU_ROS
	url = git@github.com:SICKxKM-TsukubaChallenge/witmotion_IMU_ROS.git
	branch = ros2
[submodule "ros2_v4l2_camera"]
	path = ros2_v4l2_camera
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_v4l2_camera.git
[submodule "ndt_omp_ros2"]
	path = ndt_omp_ros2
	url = git@github.com:SICKxKM-TsukubaChallenge/ndt_omp_ros2.git
[submodule "lidar_localization_ros2"]
  path = lidar_localization_ros2
  url = git@github.com:rsasaki0109/lidar_localization_ros2.git
[submodule "robot_localization"]
  path = robot_localization
  url = git@github.com:cra-ros-pkg/robot_localization.git