[submodule "ros2_laser_scan_merger"]
	path = ros2_laser_scan_merger
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_laser_scan_merger.git
[submodule "ros2_whill"]
	path = ros2_whill
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_whill.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = git@github.com:SICKxKM-TsukubaChallenge/pointcloud_to_laserscan.git
[submodule "ros2_whill_interfaces"]
	path = ros2_whill_interfaces
	url = git@github.com:SICKxKM-TsukubaChallenge/ros2_whill_interfaces.git
